body {
  background: #f2f3f7 !important;
}
nav {
  top: 0;
  padding: 0 30px;
  background: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.041), 0 1px 2px  rgba(0, 0, 0, 0.041);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.header {
  height: 57px;
  align-items: center;
}

.header__logo {
  text-align: center;
}
.kollab-logo {
  color: #4e4e4e;
  font-weight: bold;
  font-size: 18px;
}
.header-menu {
  border-bottom: none !important;
  justify-items: flex-end !important;
  margin-left: auto;
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin: 0 !important;
  list-style: none;
}
.menu li {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.menu li:last-child {
  padding-right: 0px;
}
.menu li:not(:last-child) {
  border-right: 1.8px solid lightgray;
}
/* .menu li:not(:first-child) {
  display: block;
} */
@media only screen and (max-width: 900px) {
  .menu {
    display: none;
  }
}

.menu-link__item {
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.dropdown-text {
  margin-right: 18px;
}

.user-icon {
  display: inline;
  position: relative;
  height: 22px;
  min-width: 22px;
  border-radius: 60%;
  background: gray;
  margin-right: 10px;
}
.header-children_wrapper {
  margin-top: 107px;
  padding-top: 40px;
}
