.dashboard-header {
  padding: 0 30px;
  height: 50px;
  background: white;
  display: flex;
  padding-bottom: 20px;
}
.dashboard-header__logo {
  display: flex;
  align-items: center;
  font-size: 19px;
}
.dashboard-header-logo__icon {
  margin-right: 10px;
  font-weight: 600;
  color: teal !important;
}
.dashboard-header-logo__text {
  font-size: 25px;
  margin-right: 5px;
  font-weight: 600;
}
.dashboard-header-logo__icon-right {
  font-size: 15px !important;
  color: lightgray !important;
}
